.about {
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid #c8dedd;
  overflow: hidden;
  padding: 1rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
      display: flex;
      gap: 0.5rem;
    }

    button {
      background-color: #f0f8f7;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: #eaf6f5;
      }
    }

    svg {
      width: 1rem;
      fill: #1a7a6e;
    }
  }

  input {
    width: 100%;
  }
}

